.navbar-toggler[b-ugb89qb3k4] {
    background-color: #0175be;
}

.top-row[b-ugb89qb3k4] {
    height: 3.5rem;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(1,117,190,1) 40%);
}

.navbar-brand[b-ugb89qb3k4] {
    font-size: 1.1rem;
}

.oi[b-ugb89qb3k4] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ugb89qb3k4] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.navbar-toggler[b-ugb89qb3k4] {
    border-color: transparent !important;
}
.navbar-dark .navbar-toggler[b-ugb89qb3k4] {
    border-color: transparent !important;
}

.nav-item:first-of-type[b-ugb89qb3k4] {
    padding-top: 1rem;
}

    .nav-item:last-of-type[b-ugb89qb3k4] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ugb89qb3k4]  a {
        color: #d7d7d7;
        height: 3rem;
        display: flex;
        align-items: center;
    }

.nav-item[b-ugb89qb3k4]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ugb89qb3k4]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ugb89qb3k4], .notificationeke[b-ugb89qb3k4], .backerke[b-ugb89qb3k4] {
        display: none;
    }

    .collapse[b-ugb89qb3k4] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 641px) {
    .joensuu[b-ugb89qb3k4] {
        padding-left: 55px;
    }
}

.joensuu[b-ugb89qb3k4] {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.sidebar[b-d0g4a7qoim][b-ugb89qb3k4] {
    background: red !important;
}

.notificationeke[b-ugb89qb3k4], .backerke[b-ugb89qb3k4]{
    width: 20px;
}

.backerke[b-ugb89qb3k4]{
    position: absolute;
    top:20px;
}

.faker[b-ugb89qb3k4]{
    padding: 10px;
}

.coins[b-ugb89qb3k4] {
    font-family: "Work sans", sans-serif;
    border-radius: 5px;
    color: white;
    border: solid white;
    background: rgba(255,255,255,0.3);
}