@using MudBlazor
<div class="menubar">
    <div class="menuelement">
        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.Inventory" Title="Inventory" />
        <p class="metxt">My Tickets</p>
    </div>
    <div class="menuelement">
        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.LocationOn" Title="Location" />
        <p class="metxt">Map</p>
    </div>
    <div class="menuelement">
        <MudIcon Color="Color.Secondary" Size="Size.Medium" Icon="@Icons.Material.Filled.ShoppingBag" Title="Rewards" />
        <p class="metxt">My Rewards</p>
    </div>
    <div class="menuelement">
        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.AttachMoney" Title="Shop" />
        <p class="metxt">Shop</p>
    </div>
</div>
