@using MudBlazor
<div class="menubar">
    <div class="menuelement">
        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.Assessment" Title="Inventory" />
        <p class="metxt">Overview</p>
    </div>
    <div class="menuelement">
        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.LocationOn" Title="Location" />
        <p class="metxt">Report Map</p>
    </div>
    <div class="menuelement">
        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.AirplaneTicket" Title="Rewards" />
        <p class="metxt">My Tickets</p>
    </div>
    <div class="menuelement">
        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.AttachMoney" Title="Shop" />
        <p class="metxt">Rewards</p>
    </div>
</div>
