<div class="darkblue">
    <div class="temperature">
        <div class="center-data blue">
            <p class="first">
            -19°❄️
            </p>
        </div>
        <div class="center-data white">
            <p>        
           💧90%
            </p>
            <p>
            🍃0.89m/s
            </p>
        </div>
        <div class="center-data blue">
            <div class="rechterken">
                <p>Air quality</p>
                <h5 class="quality">GOOD ENOUGH</h5>
            </div>
        </div>
    </div>
</div>