@page "/ticket"
@using JoensuuWebAssemblyApp.Components.Index

<PageTitle>Ticket</PageTitle>
<div class="sidebar">
    <NavMenu />
</div>
<div>
    <NavLink href="/ticket/new">
        <button class="addbtn">+</button>
    </NavLink>
</div>
<Undermenu />