/* /Components/Index/Optiekader.razor.rz.scp.css */
.darkblue[b-djdmyya0j7] {
    background: #015aaa;
    padding: 20px 0 10px 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    justify-content:space-around;
    align-items: center;
}

.box[b-djdmyya0j7] {
    background: #c3f3ff;
    border-radius: 15px;
    width: 130px;
    height: 130px;
    overflow:hidden;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.squareken[b-djdmyya0j7] {
    width: 100px;
    margin: 0 auto;
}

.description[b-djdmyya0j7] {
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 15px;
    height: 45px;
}

.smaller[b-djdmyya0j7]{
    width: 78px;
}

.lijst[b-djdmyya0j7] {
    width: 150px;
    margin-bottom: 5px;
    font-family: "Work sans", sans-serif;
    border-radius: 20px;
    padding: 10px;
}

.lijst:hover[b-djdmyya0j7]{
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
a[b-djdmyya0j7] {
    text-decoration: underline 0px;
}
/* /Components/Index/Weerkader.razor.rz.scp.css */


.temperature[b-x31w5qdolx] {
    width: 90%;
    border: 3px white solid;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-content: center;
    overflow: hidden;
}

.center-data[b-x31w5qdolx] {
    width: 33.33%;
    text-align: center;
}

.blue[b-x31w5qdolx] {
    background: #014888;
    color: white;
}

.white[b-x31w5qdolx] {
    background: white;
    color: #014888;
}

p[b-x31w5qdolx] {
    margin: 5px 0;
    margin-top: 10px;
}

.first[b-x31w5qdolx] {
    font-size: 40px;
}

.darkblue[b-x31w5qdolx] {
    background: #015aaa;
    padding: 20px 0 10px 0;
}

.rechterken[b-x31w5qdolx] {
    font-family: "Work sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-top: 14px;
}

.quality[b-x31w5qdolx] {
    font-size: 18px;
}
/* /Components/TicketSubmission/Description.razor.rz.scp.css */
.nextbtn[b-krik1rki9t] {
    border-radius: 15px;
    background: rgb(128, 128, 128);
    font-family: "Work sans", sans-serif;
    padding: 10px 50px;
    font-size: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border: none;
}
/* /Components/TicketSubmission/SelectPicture.razor.rz.scp.css */
.visualizer[b-wnhs8ml5fo] {
    max-width: 200px;
    max-height: 200px;
}

.uploadzone[b-wnhs8ml5fo] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uploader[b-wnhs8ml5fo] {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.containerken[b-wnhs8ml5fo] {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 30px;
    border: solid 3px white;
}
/* /Components/TicketSubmission/SeveritySelection.razor.rz.scp.css */
.severity[b-0crzc76nbw] {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    padding: 4px;
}

.circle[b-0crzc76nbw] {
    margin-left: 8px;
    margin-right: 8px;
    border: transparent 3px solid;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    text-align: center;
    box-shadow: inset 0 0 10px 2px rgb(255, 255, 255, 0.3);
    cursor: pointer;
}

.default[b-0crzc76nbw]{
    background: orange;
}

.severe[b-0crzc76nbw] {
    background: red;
}

.dangerous[b-0crzc76nbw] {
    background: darkred;
}

.circle p[b-0crzc76nbw] {
    background: rgba(0, 0, 0, 0.1);
    padding: 1px;
    border-radius: 100%;
    box-shadow: inset 0 0 10px 2px rgb(0, 0, 0, 0.5);
}

.circle:hover p[b-0crzc76nbw] {
    padding: 1px;
    border-radius: 100%;
    box-shadow: inset 0 0 10px 2px rgb(0, 0, 0, 0.3);
}

.sel[b-0crzc76nbw] {
    border: 3px white solid;
}
/* /Pages/Index.razor.rz.scp.css */

body[b-4kvaf3qjoy] {
    font-family: "Work sans", sans-serif;
}
/* /Pages/Ticket.razor.rz.scp.css */
.addbtn[b-bevls6lafo] {
    background: rgb(0, 148, 255);
    position: fixed;
    z-index: 20;
    right: 20px;
    bottom: 70px;
    width: 60px;
    font-size: 40px;
    font-family: "Work sans", sans-serif;
    height: 60px;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 5px 2px rgb(255, 255, 255, 0.2);
}
/* /Pages/TicketSubmission.razor.rz.scp.css */
.visualizer[b-d4jbxq6yxn] {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.uploadzone[b-d4jbxq6yxn]{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uploader[b-d4jbxq6yxn] {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.stepHolder[b-d4jbxq6yxn]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
    width: 100px;
    margin: 20px auto;
}

.nextbtn[b-d4jbxq6yxn] {
    border-radius: 15px;
    background: rgb(128, 128, 128);
    font-family: "Work sans", sans-serif;
    padding: 10px 50px;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    border: none;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-d0g4a7qoim] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-d0g4a7qoim] {
    flex: 1;
}

.sidebar[b-d0g4a7qoim] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-d0g4a7qoim] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-d0g4a7qoim]  a, .top-row[b-d0g4a7qoim]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-d0g4a7qoim]  a:hover, .top-row[b-d0g4a7qoim]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-d0g4a7qoim]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-d0g4a7qoim] {
        display: none;
    }

    .top-row.auth[b-d0g4a7qoim] {
        justify-content: space-between;
    }

    .top-row[b-d0g4a7qoim]  a, .top-row[b-d0g4a7qoim]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-d0g4a7qoim] {
        flex-direction: row;
    }

    .sidebar[b-d0g4a7qoim] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-d0g4a7qoim] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-d0g4a7qoim]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-d0g4a7qoim], article[b-d0g4a7qoim] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ugb89qb3k4] {
    background-color: #0175be;
}

.top-row[b-ugb89qb3k4] {
    height: 3.5rem;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(1,117,190,1) 40%);
}

.navbar-brand[b-ugb89qb3k4] {
    font-size: 1.1rem;
}

.oi[b-ugb89qb3k4] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ugb89qb3k4] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.navbar-toggler[b-ugb89qb3k4] {
    border-color: transparent !important;
}
.navbar-dark .navbar-toggler[b-ugb89qb3k4] {
    border-color: transparent !important;
}

.nav-item:first-of-type[b-ugb89qb3k4] {
    padding-top: 1rem;
}

    .nav-item:last-of-type[b-ugb89qb3k4] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ugb89qb3k4]  a {
        color: #d7d7d7;
        height: 3rem;
        display: flex;
        align-items: center;
    }

.nav-item[b-ugb89qb3k4]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ugb89qb3k4]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ugb89qb3k4], .notificationeke[b-ugb89qb3k4], .backerke[b-ugb89qb3k4] {
        display: none;
    }

    .collapse[b-ugb89qb3k4] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 641px) {
    .joensuu[b-ugb89qb3k4] {
        padding-left: 55px;
    }
}

.joensuu[b-ugb89qb3k4] {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.sidebar[b-d0g4a7qoim][b-ugb89qb3k4] {
    background: red !important;
}

.notificationeke[b-ugb89qb3k4], .backerke[b-ugb89qb3k4]{
    width: 20px;
}

.backerke[b-ugb89qb3k4]{
    position: absolute;
    top:20px;
}

.faker[b-ugb89qb3k4]{
    padding: 10px;
}

.coins[b-ugb89qb3k4] {
    font-family: "Work sans", sans-serif;
    border-radius: 5px;
    color: white;
    border: solid white;
    background: rgba(255,255,255,0.3);
}
/* /Shared/Undermenu.razor.rz.scp.css */
.menubar[b-cxg4w747jp] {
    background: #0074be;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuelement[b-cxg4w747jp] {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 10px;
    padding-bottom: 5px;
}
.metxt[b-cxg4w747jp]{
    margin-bottom: 0;
}
