<div class="darkblue">
    <div class="lijst">
        <div class="box">
            <img class="squareken" src="./img/logos/location.png" alt="location"/>
        </div>
            <p class="description">LOCAL OFFERS</p>
    </div>
    <div class="lijst">
        <div class="box">
            <img class="squareken" src="./img/logos/librarycard.png" alt="location"/>
        </div>
            <p class="description">VAARA LIBRARY CARD</p>
    </div>


    <div class="lijst">
        <div class="box">
            <img class="squareken" src="./img/logos/questions.png" alt="location"/>
        </div>
            <p class="description">PARTICIPATE AND INFLUENCE</p>
    </div>

    <div class="lijst">
        <div class="box">
            <img class="squareken" src="./img/logos/jojo.png" alt="location"/>
        </div>
            <p class="description">PUBLIC TRANSPORTATION</p>
    </div>

    <div class="lijst">
        <div class="box">
            <img class="squareken" src="./img/logos/activities.png" alt="location"/>
        </div>
            <p class="description">EVENTS AND ATTRACTIONS</p>
    </div>
    <NavLink href="/ticket" style="text-decoration: none">
    <div class="lijst">
        <div class="box">
            <img class="squareken smaller" src="./img/logos/ticket.png" alt="location"/>
        </div>
            <p class="description">CREATE TICKET</p>
    </div>
    </NavLink>
</div>